# Node
node_modules/
npm-debug.log
yarn-error.log

.env.local
gobi-theme-contenido.txt
project_wp_tree.txt

# Build
public/build/
dist/

# OS
.DS_Store

# Env
.env
.env.*

# Composer
vendor/

# Logs
*.log

# IDE
.vscode/
.idea/

